<h1>Bandit</h1>
<% @experiments.each { |experiment| %>

  <h2><%= experiment.name %></h2>
  <% experiment.alternatives.each { |alt| %>
    <h3>Alternative: <%= alt %></h3>
    <ul>
      <li>Participants: <%= experiment.participant_count(alt) %></li>
      <li>Conversions: <%= experiment.conversion_count(alt) %></li>
      <li>Conversion rate: <%= experiment.conversion_rate(alt) %> %</li>
    </ul>
    Conversions per hour:
    <ul>
      <% if experiment.alternative_start(alt).nil? %>
      None so far...
      <% else %>
        <% experiment.alternative_start(alt).upto(Bandit::DateHour.now) { |dh| %>
        <li><%= dh %>: <%= experiment.participant_count(alt, dh) %> participants, <%= experiment.conversion_count(alt, dh) %> conversions</li>
        <% } %>
      <% end %>
    </ul>
  <% } %>
<% } %>


<div id="container"></div>

<script type="text/javascript">
var usdeur = [
[Date.UTC(2003,8,24),0.8709],
[Date.UTC(2003,8,25),0.872],
[Date.UTC(2003,8,26),0.8714],
[Date.UTC(2003,8,29),0.8638],
[Date.UTC(2003,8,30),0.8567]
];

jQuery(function() {
  var chart = new Highcharts.StockChart({
    chart: {
        renderTo: 'container'
    },
    
    rangeSelector: {
        selected: 1
    },
    
    title: {
        text: 'USD to EUR exchange rate'
    },
    
    xAxis: {
        maxZoom: 14 * 24 * 3600000 // fourteen days
    },
    yAxis: {
        title: {
            text: 'Exchange rate'
        }
    },

    series: [{
        name: 'USD to EUR',
        data: usdeur
    }]
});
});
</script>
